@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  thead > tr {
    background-color: hsl(0, 0%, 90%);
  }

  tbody > tr:nth-child(even) {
    background-color: hsl(0, 0%, 95%);
  }
  tbody > tr:nth-child(odd) {
    background-color: hsl(0, 0%, 99%);
  }
  tbody > tr:hover {
    background-color: hsl(0, 0%, 92.5%);
    cursor: pointer;
  }

  .toast {
    position: fixed;
    bottom: 16px;
    right: 16px;
    margin: 0;
    list-style: none;
    z-index: 2147483647;
    outline: none;
  }
}
